In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')

In [4]:
df[['survived', 'who']]

     survived    who
0           0    man
1           1  woman
2           1  woman
3           1  woman
4           0    man
..        ...    ...
886         0    man
887         1  woman
888         0  woman
889         1    man
890         0    man

[891 rows x 2 columns]

In [5]:
df['survived'].mean()

0.3838383838383838

In [6]:
df['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [7]:
df.shape

(891, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [12]:
# Survival ratio
survival_ratio = df['survived'].mean()
survival_ratio

0.3838383838383838

In [10]:
# 38.38% passengers survived

In [13]:
# Death ratio
1 - survival_ratio

0.6161616161616161

In [14]:
# 61.61% passengers died

In [15]:
# verifying
df['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [16]:
df.shape

(891, 15)

In [18]:
# 549 out of 891 died; 342 out of 891 survived
print('Survival Ratio', 342 / 891)
print ('Death ratio',549 / 891)

Survival Ratio 0.3838383838383838
Death ratio 0.6161616161616161

In [19]:
df.groupby('sex').mean()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
sex,,,,,,,,
female,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818,0.000000,0.401274
male,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893,0.930676,0.712305

In [30]:
# this shows that 74% of women survived
# and 18% of men survived, lets verify

# Total females
females = df.loc[df['sex'] == 'female']

# Total Males
males = df.loc[df['sex'] == 'male']
print ('Total males', males.shape)
print ('Total females', females.shape)

Total males (577, 15)
Total females (314, 15)

In [24]:
577 + 314

891

In [28]:
# number of survived female
survived_females = females.loc[females['survived'] == 1]
survived_males = males.loc[males['survived'] == 1]

print ('survived males', survived_males.shape)
print ('survived females', survived_females.shape)

survived males (109, 15)
survived females (233, 15)

In [29]:
df.groupby('sex').mean()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
sex,,,,,,,,
female,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818,0.000000,0.401274
male,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893,0.930676,0.712305

In [31]:
# 109 males survived out of 577 total males
# 233 females survived out of 314 total females
print ('male survival ratio', 109 / 577)
print ('female survival ratio', 233 / 314)

male survival ratio 0.18890814558058924
female survival ratio 0.7420382165605095

In [32]:
# That has also been verified.