# Basic data structure in Python
1. Tuple
2. List
3. Dictionaries
4. Set

## 1. Tuple
- Ordered collection of elements
- Enclosed in () round brackets / parenthesis
- Different kind of elements can be stored
- Once elements are stored you can not change them (immutable)

In [394]:
tup1 = ("Pakistan", "Samosa", True, 1, 20.5)
tup1

('Pakistan', 'Samosa', True, 1, 20.5)

In [395]:
type(tup1)

tuple

In [396]:
tup1[0]

'Pakistan'

In [397]:
tup1[0:]

('Pakistan', 'Samosa', True, 1, 20.5)

In [398]:
# last index is exclusive
tup1[0:3]

('Pakistan', 'Samosa', True)

In [399]:
len(tup1)

5

In [400]:
# not generating error because last index is exclusive, otherwise index 5 does not exist in this tuple as the length is 5
tup1[0:5]

('Pakistan', 'Samosa', True, 1, 20.5)

In [401]:
tup2 = (2, "Abid Ali", False)
tup2

(2, 'Abid Ali', False)

In [402]:
# concatenating the tuples
tup1 + tup2

('Pakistan', 'Samosa', True, 1, 20.5, 2, 'Abid Ali', False)

In [403]:
# generating iterations of tuples when concatenating
tup1*2 + tup2

('Pakistan',
 'Samosa',
 True,
 1,
 20.5,
 'Pakistan',
 'Samosa',
 True,
 1,
 20.5,
 2,
 'Abid Ali',
 False)

In [404]:
tup1*3 + tup2

('Pakistan',
 'Samosa',
 True,
 1,
 20.5,
 'Pakistan',
 'Samosa',
 True,
 1,
 20.5,
 'Pakistan',
 'Samosa',
 True,
 1,
 20.5,
 2,
 'Abid Ali',
 False)

In [405]:
tup3 = (20, 23, 50, 21, 22, 10)
tup3

(20, 23, 50, 21, 22, 10)

In [406]:
tup3*3

(20, 23, 50, 21, 22, 10, 20, 23, 50, 21, 22, 10, 20, 23, 50, 21, 22, 10)

In [407]:
min(tup3)

10

In [408]:
max(tup3)

50

In [409]:
tup3

(20, 23, 50, 21, 22, 10)

In [410]:
len(tup3)

6

---

## 2. Lists
- Ordered collection of elements
- Enclosed in square brackets []
- Mutatable, (e.g. element values can be mutated or changed)

In [411]:
list1 = [5, "Abid Ali", False]
list1

[5, 'Abid Ali', False]

In [412]:
type(list1)

list

In [413]:
len (list1)

3

In [414]:
list1[2]

False

In [415]:
list2 = ["list 2 starting", 2, "Sajid Ali", "20.5", 20.5, True, "End of list 2"]
list2

['list 2 starting', 2, 'Sajid Ali', '20.5', 20.5, True, 'End of list 2']

In [416]:
# concatenating the lists
list1 + list2

[5,
 'Abid Ali',
 False,
 'list 2 starting',
 2,
 'Sajid Ali',
 '20.5',
 20.5,
 True,
 'End of list 2']

In [417]:
# repeating the lists
list1 * 2

[5, 'Abid Ali', False, 5, 'Abid Ali', False]

In [418]:
# repeat + concatenate
list1 * 2 + list2

[5,
 'Abid Ali',
 False,
 5,
 'Abid Ali',
 False,
 'list 2 starting',
 2,
 'Sajid Ali',
 '20.5',
 20.5,
 True,
 'End of list 2']

In [419]:
# reverse changes the original list
list1.reverse()
list1

[False, 'Abid Ali', 5]

In [420]:
list1.append("appended last element")

In [421]:
list1

[False, 'Abid Ali', 5, 'appended last element']

In [422]:
# count in list(array)
list1.count(False)

1

In [423]:
# count in string
list1[3].count('a')

2

In [424]:
lists = [[] for i in range(3)]
lists

[[], [], []]

In [425]:
lists[0].append(3)
lists[1].append(5)
lists[2].append(7)
lists

[[3], [5], [7]]

In [426]:
list1[-2:len(list1)]

[5, 'appended last element']

In [427]:
list3 = [20, 30, 2, 40,120, 0, 1, 23, 255]
len(list3)

9

In [428]:
list3.sort()

In [429]:
list3

[0, 1, 2, 20, 23, 30, 40, 120, 255]

In [430]:
list3.sort()
list3.reverse()
list3

[255, 120, 40, 30, 23, 20, 2, 1, 0]

In [431]:
# Return a shallow copy of the list.
list1.copy()

[False, 'Abid Ali', 5, 'appended last element']

In [432]:
# Return first index of value.
list1.index("Abid Ali")

1

In [433]:
# Insert object before index.
list1.insert(1, "Inserted value")
list1

[False, 'Inserted value', 'Abid Ali', 5, 'appended last element']

In [434]:
# Remove all items from list.
list1.clear()
list1

[]

## 3. Dictionaries
- An unordered collection of elements
- Key and Value
- curly braces {}
- Mutatable (values can be changed)

In [435]:
# Food and their prices
price_list = {
    "Samosa": 40,
    "Pakorha": 60,
    "Raita": 45,
    "Salad": 55,
    "Chicken Role": 100,
}
price_list

{'Samosa': 40, 'Pakorha': 60, 'Raita': 45, 'Salad': 55, 'Chicken Role': 100}

In [436]:
type(price_list)

dict

In [437]:
price_list.keys()

dict_keys(['Samosa', 'Pakorha', 'Raita', 'Salad', 'Chicken Role'])

In [438]:
price_list.values()

dict_values([40, 60, 45, 55, 100])

In [439]:
price_list.items()

dict_items([('Samosa', 40), ('Pakorha', 60), ('Raita', 45), ('Salad', 55), ('Chicken Role', 100)])

In [440]:
price_list.get("Chicken Role")

100

In [441]:
price_list["Chicken Role"]

100

In [442]:
price_list.update(Tikki=15)

In [443]:
price_list.update(Tikke=3)
price_list

{'Samosa': 40,
 'Pakorha': 60,
 'Raita': 45,
 'Salad': 55,
 'Chicken Role': 100,
 'Tikki': 15,
 'Tikke': 3}

In [444]:
price_list["Tikke"] = None
price_list

{'Samosa': 40,
 'Pakorha': 60,
 'Raita': 45,
 'Salad': 55,
 'Chicken Role': 100,
 'Tikki': 15,
 'Tikke': None}

In [445]:
del price_list["Tikke"]
price_list

{'Samosa': 40,
 'Pakorha': 60,
 'Raita': 45,
 'Salad': 55,
 'Chicken Role': 100,
 'Tikki': 15}

In [446]:
# updating the value
price_list["Tikki"] = 20
price_list

{'Samosa': 40,
 'Pakorha': 60,
 'Raita': 45,
 'Salad': 55,
 'Chicken Role': 100,
 'Tikki': 20}

In [447]:
# purchasing list
purchasing_list = {
    "Dates": 50,
    "Chocolate": 200,
    "Noodles": 1000
}
purchasing_list

{'Dates': 50, 'Chocolate': 200, 'Noodles': 1000}

In [448]:
another_purchasing_list = {
    "Potato": 50,
}
another_purchasing_list

{'Potato': 50}

In [449]:
purchasing_list.update(another_purchasing_list)

In [450]:
purchasing_list.update({"Tomato": 60})
purchasing_list

{'Dates': 50, 'Chocolate': 200, 'Noodles': 1000, 'Potato': 50, 'Tomato': 60}

## Set
- Unordered and unindexed
- Uses curly braces
- No duplicates allowed

In [451]:
set1 = {1, 2.4, 5.2, "Abid Ali", "Edits Channel", "Pakistan"}
set1

{1, 2.4, 5.2, 'Abid Ali', 'Edits Channel', 'Pakistan'}

In [452]:
type(set1)

set

In [453]:
# won't add same entry again in test
set1.add("Abid Ali")
set1

{1, 2.4, 5.2, 'Abid Ali', 'Edits Channel', 'Pakistan'}

In [454]:
# Remove an element from a set if it is a member.
# If the element is not a member, do nothing.
set1.discard("2.4")
set1

{1, 2.4, 5.2, 'Abid Ali', 'Edits Channel', 'Pakistan'}

In [455]:
set1.discard(2.4)
set1

{1, 5.2, 'Abid Ali', 'Edits Channel', 'Pakistan'}

In [456]:
set2 = {2,5,9, "Sajid Ali", "Pakistan"}
set2

{2, 5, 9, 'Pakistan', 'Sajid Ali'}

In [457]:
# Return the difference of two or more sets as a new set.
# (i.e. all elements that are in this set but not the others.)
set1.difference(set2)

{1, 5.2, 'Abid Ali', 'Edits Channel'}

In [458]:
# Return the difference of two or more sets as a new set.
# (i.e. all elements that are in this set but not the others.)
set2.difference(set1)

{2, 5, 9, 'Sajid Ali'}

In [459]:
set1.update({"Pakistan1"})

In [460]:
# Update a set with the union of itself and others.
set1.update(set2)
set1

{1,
 2,
 5,
 5.2,
 9,
 'Abid Ali',
 'Edits Channel',
 'Pakistan',
 'Pakistan1',
 'Sajid Ali'}

In [462]:
set1.discard("Pakistan1")
set1

{1, 2, 5, 5.2, 9, 'Abid Ali', 'Edits Channel', 'Pakistan', 'Sajid Ali'}

In [464]:
set2

{2, 5, 9, 'Pakistan', 'Sajid Ali'}

In [463]:
# Remove all elements of another set from this set.
set1.difference_update(set2)
set1

{1, 5.2, 'Abid Ali', 'Edits Channel'}

In [467]:
set1.update({"Pakistan"})
set1

{1, 5.2, 'Abid Ali', 'Edits Channel', 'Pakistan'}

In [469]:
# Return the intersection of two sets as a new set.
# (i.e. all elements that are in both sets.)
set1.intersection(set2)

{'Pakistan'}

In [477]:
set3 = {None, "Oh", "Acha", "Good", "Alright"}
set3

{'Acha', 'Alright', 'Good', None, 'Oh'}

In [478]:
# Return True if two sets have a null intersection.
# Return True if the set has no elements in common with other. Sets are disjoint if and only if their intersection is the empty set.
set1.isdisjoint(set3)

True

In [481]:
# Report whether another set contains this set.
set2.issubset(set1)

False

In [483]:
set4 = {"Pakistan"}
set4

{'Pakistan'}

In [484]:
# Report whether another set contains this set.
set4.issubset(set1)

True

In [486]:
# Report whether this set contains another set.
#  Test whether every element in other is in the set.
# issuperset(other)
# set >= other
set1.issuperset(set4)

True

In [487]:
set5 = set1.union(set2).union(set3).union(set4)
set5

{1,
 2,
 5,
 5.2,
 9,
 'Abid Ali',
 'Acha',
 'Alright',
 'Edits Channel',
 'Good',
 None,
 'Oh',
 'Pakistan',
 'Sajid Ali'}

In [493]:
set5.pop()

'Edits Channel'

In [494]:
set5.pop()

1

In [495]:
set5

{2,
 5,
 5.2,
 9,
 'Abid Ali',
 'Acha',
 'Alright',
 'Good',
 None,
 'Oh',
 'Pakistan',
 'Sajid Ali'}

In [497]:
set5.pop()

2

In [498]:
set5

{5,
 5.2,
 9,
 'Abid Ali',
 'Acha',
 'Alright',
 'Good',
 None,
 'Oh',
 'Pakistan',
 'Sajid Ali'}