# 10 Minutes to Pandas
[reference](https://pandas.pydata.org/docs/user_guide/10min.html)
https://pandas.pydata.org/docs/user_guide/10min.html

fiverr.com/abd_soft

## Object creation

In [2]:
import pandas as pd
import numpy as np

arr1 = np.array([1,2,3,4,5,6])
s = pd.Series(arr1)
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [5]:
# Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:
dates = pd.date_range("20230101", periods=30)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

In [11]:
arr = np.arange(1, 121)
arr_2d = arr.reshape(30,4)
arr_2d

array([[  1,   2,   3,   4],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12],
       [ 13,  14,  15,  16],
       [ 17,  18,  19,  20],
       [ 21,  22,  23,  24],
       [ 25,  26,  27,  28],
       [ 29,  30,  31,  32],
       [ 33,  34,  35,  36],
       [ 37,  38,  39,  40],
       [ 41,  42,  43,  44],
       [ 45,  46,  47,  48],
       [ 49,  50,  51,  52],
       [ 53,  54,  55,  56],
       [ 57,  58,  59,  60],
       [ 61,  62,  63,  64],
       [ 65,  66,  67,  68],
       [ 69,  70,  71,  72],
       [ 73,  74,  75,  76],
       [ 77,  78,  79,  80],
       [ 81,  82,  83,  84],
       [ 85,  86,  87,  88],
       [ 89,  90,  91,  92],
       [ 93,  94,  95,  96],
       [ 97,  98,  99, 100],
       [101, 102, 103, 104],
       [105, 106, 107, 108],
       [109, 110, 111, 112],
       [113, 114, 115, 116],
       [117, 118, 119, 120]])

In [245]:
# df = pd.DataFrame(np.random.randn(30,4), index=dates, columns=list("ABCD"))
arr = np.arange(1, 120)
len(arr)
df = pd.DataFrame(arr_2d, index=dates, columns=list("ABCD"))
original_data = df.copy()
df

              A    B    C    D
2023-01-01    1    2    3    4
2023-01-02    5    6    7    8
2023-01-03    9   10   11   12
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [15]:
# Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [25]:
# testing what are the outputs of the given inputs in above df2
pd.Series(1, index=list(range(4)), dtype="float32")

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float32

In [22]:
np.array([3] * 4, dtype="int32")

array([3, 3, 3, 3])

In [24]:
pd.Categorical(["test", "train", "test", "train"])

['test', 'train', 'test', 'train']
Categories (2, object): ['test', 'train']

In [26]:
# now we have a new dataframe df2 from a dictionary
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [27]:
# The columns of the resulting DataFrame have different dtypes:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [37]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

## Viewing data

In [39]:
# Use DataFrame.head() and DataFrame.tail() to view the top and bottom rows of the frame respectively:
df.head()

             A   B   C   D
2023-01-01   1   2   3   4
2023-01-02   5   6   7   8
2023-01-03   9  10  11  12
2023-01-04  13  14  15  16
2023-01-05  17  18  19  20

In [41]:
df.tail(3)

              A    B    C    D
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [44]:
# Display the DataFrame.index or DataFrame.columns:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

In [45]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [47]:
df.columns = list("EFGH")
df

              E    F    G    H
2023-01-01    1    2    3    4
2023-01-02    5    6    7    8
2023-01-03    9   10   11   12
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [48]:
df.columns

Index(['E', 'F', 'G', 'H'], dtype='object')

In [51]:
df.columns = list("ABCD")
df

              A    B    C    D
2023-01-01    1    2    3    4
2023-01-02    5    6    7    8
2023-01-03    9   10   11   12
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [53]:
# DataFrame.to_numpy() gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column. When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

# For df, our DataFrame of all floating-point values, and DataFrame.to_numpy() is fast and doesn’t require copying data:
df.to_numpy()

array([[  1,   2,   3,   4],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12],
       [ 13,  14,  15,  16],
       [ 17,  18,  19,  20],
       [ 21,  22,  23,  24],
       [ 25,  26,  27,  28],
       [ 29,  30,  31,  32],
       [ 33,  34,  35,  36],
       [ 37,  38,  39,  40],
       [ 41,  42,  43,  44],
       [ 45,  46,  47,  48],
       [ 49,  50,  51,  52],
       [ 53,  54,  55,  56],
       [ 57,  58,  59,  60],
       [ 61,  62,  63,  64],
       [ 65,  66,  67,  68],
       [ 69,  70,  71,  72],
       [ 73,  74,  75,  76],
       [ 77,  78,  79,  80],
       [ 81,  82,  83,  84],
       [ 85,  86,  87,  88],
       [ 89,  90,  91,  92],
       [ 93,  94,  95,  96],
       [ 97,  98,  99, 100],
       [101, 102, 103, 104],
       [105, 106, 107, 108],
       [109, 110, 111, 112],
       [113, 114, 115, 116],
       [117, 118, 119, 120]])

In [55]:
# For df2, the DataFrame with multiple dtypes, DataFrame.to_numpy() is relatively expensive:
np_data = df2.to_numpy()

In [59]:
np_data.dtype

dtype('O')

In [60]:
type(np_data)

numpy.ndarray

In [61]:
# DataFrame.to_numpy() does not include the index or column labels in the output.
np_data

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [62]:
# describe() shows a quick statistic summary of your data:
df.describe()

                A           B           C           D
count   30.000000   30.000000   30.000000   30.000000
mean    59.000000   60.000000   61.000000   62.000000
std     35.213634   35.213634   35.213634   35.213634
min      1.000000    2.000000    3.000000    4.000000
25%     30.000000   31.000000   32.000000   33.000000
50%     59.000000   60.000000   61.000000   62.000000
75%     88.000000   89.000000   90.000000   91.000000
max    117.000000  118.000000  119.000000  120.000000

In [63]:
# Transposing your data: i.e. rows become columns and columns become rows.
df.T

,2023-01-01,2023-01-02,2023-01-03,2023-01-04,2023-01-05,2023-01-06,2023-01-07,2023-01-08,2023-01-09,2023-01-10,...,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26,2023-01-27,2023-01-28,2023-01-29,2023-01-30
A,1,5,9,13,17,21,25,29,33,37,...,81,85,89,93,97,101,105,109,113,117
B,2,6,10,14,18,22,26,30,34,38,...,82,86,90,94,98,102,106,110,114,118
C,3,7,11,15,19,23,27,31,35,39,...,83,87,91,95,99,103,107,111,115,119
D,4,8,12,16,20,24,28,32,36,40,...,84,88,92,96,100,104,108,112,116,120

In [64]:
# DataFrame.sort_index() sorts by an axis:
df.sort_index()

              A    B    C    D
2023-01-01    1    2    3    4
2023-01-02    5    6    7    8
2023-01-03    9   10   11   12
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [66]:
df.sort_index(ascending=False)

              A    B    C    D
2023-01-30  117  118  119  120
2023-01-29  113  114  115  116
2023-01-28  109  110  111  112
2023-01-27  105  106  107  108
2023-01-26  101  102  103  104
2023-01-25   97   98   99  100
2023-01-24   93   94   95   96
2023-01-23   89   90   91   92
2023-01-22   85   86   87   88
2023-01-21   81   82   83   84
2023-01-20   77   78   79   80
2023-01-19   73   74   75   76
2023-01-18   69   70   71   72
2023-01-17   65   66   67   68
2023-01-16   61   62   63   64
2023-01-15   57   58   59   60
2023-01-14   53   54   55   56
2023-01-13   49   50   51   52
2023-01-12   45   46   47   48
2023-01-11   41   42   43   44
2023-01-10   37   38   39   40
2023-01-09   33   34   35   36
2023-01-08   29   30   31   32
2023-01-07   25   26   27   28
2023-01-06   21   22   23   24
2023-01-05   17   18   19   20
2023-01-04   13   14   15   16
2023-01-03    9   10   11   12
2023-01-02    5    6    7    8
2023-01-01    1    2    3    4

In [70]:
df.sort_index(axis=1, ascending=False)

              D    C    B    A
2023-01-01    4    3    2    1
2023-01-02    8    7    6    5
2023-01-03   12   11   10    9
2023-01-04   16   15   14   13
2023-01-05   20   19   18   17
2023-01-06   24   23   22   21
2023-01-07   28   27   26   25
2023-01-08   32   31   30   29
2023-01-09   36   35   34   33
2023-01-10   40   39   38   37
2023-01-11   44   43   42   41
2023-01-12   48   47   46   45
2023-01-13   52   51   50   49
2023-01-14   56   55   54   53
2023-01-15   60   59   58   57
2023-01-16   64   63   62   61
2023-01-17   68   67   66   65
2023-01-18   72   71   70   69
2023-01-19   76   75   74   73
2023-01-20   80   79   78   77
2023-01-21   84   83   82   81
2023-01-22   88   87   86   85
2023-01-23   92   91   90   89
2023-01-24   96   95   94   93
2023-01-25  100   99   98   97
2023-01-26  104  103  102  101
2023-01-27  108  107  106  105
2023-01-28  112  111  110  109
2023-01-29  116  115  114  113
2023-01-30  120  119  118  117

In [71]:
df.sort_index(axis=0, ascending=False)

              A    B    C    D
2023-01-30  117  118  119  120
2023-01-29  113  114  115  116
2023-01-28  109  110  111  112
2023-01-27  105  106  107  108
2023-01-26  101  102  103  104
2023-01-25   97   98   99  100
2023-01-24   93   94   95   96
2023-01-23   89   90   91   92
2023-01-22   85   86   87   88
2023-01-21   81   82   83   84
2023-01-20   77   78   79   80
2023-01-19   73   74   75   76
2023-01-18   69   70   71   72
2023-01-17   65   66   67   68
2023-01-16   61   62   63   64
2023-01-15   57   58   59   60
2023-01-14   53   54   55   56
2023-01-13   49   50   51   52
2023-01-12   45   46   47   48
2023-01-11   41   42   43   44
2023-01-10   37   38   39   40
2023-01-09   33   34   35   36
2023-01-08   29   30   31   32
2023-01-07   25   26   27   28
2023-01-06   21   22   23   24
2023-01-05   17   18   19   20
2023-01-04   13   14   15   16
2023-01-03    9   10   11   12
2023-01-02    5    6    7    8
2023-01-01    1    2    3    4

In [72]:
# DataFrame.sort_values() sorts by values:
df.sort_values(by="B")

              A    B    C    D
2023-01-01    1    2    3    4
2023-01-02    5    6    7    8
2023-01-03    9   10   11   12
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [73]:
df.sort_values(by="B", ascending=False)

              A    B    C    D
2023-01-30  117  118  119  120
2023-01-29  113  114  115  116
2023-01-28  109  110  111  112
2023-01-27  105  106  107  108
2023-01-26  101  102  103  104
2023-01-25   97   98   99  100
2023-01-24   93   94   95   96
2023-01-23   89   90   91   92
2023-01-22   85   86   87   88
2023-01-21   81   82   83   84
2023-01-20   77   78   79   80
2023-01-19   73   74   75   76
2023-01-18   69   70   71   72
2023-01-17   65   66   67   68
2023-01-16   61   62   63   64
2023-01-15   57   58   59   60
2023-01-14   53   54   55   56
2023-01-13   49   50   51   52
2023-01-12   45   46   47   48
2023-01-11   41   42   43   44
2023-01-10   37   38   39   40
2023-01-09   33   34   35   36
2023-01-08   29   30   31   32
2023-01-07   25   26   27   28
2023-01-06   21   22   23   24
2023-01-05   17   18   19   20
2023-01-04   13   14   15   16
2023-01-03    9   10   11   12
2023-01-02    5    6    7    8
2023-01-01    1    2    3    4

## Getting
<span style="color:red"><b>Note</b></span>

While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, `DataFrame.at()`, `DataFrame.iat()`, `DataFrame.loc()` and `DataFrame.iloc()`.

In [75]:
# Selecting a single column, which yields a Series, equivalent to df.A:
df["A"]

2023-01-01      1
2023-01-02      5
2023-01-03      9
2023-01-04     13
2023-01-05     17
2023-01-06     21
2023-01-07     25
2023-01-08     29
2023-01-09     33
2023-01-10     37
2023-01-11     41
2023-01-12     45
2023-01-13     49
2023-01-14     53
2023-01-15     57
2023-01-16     61
2023-01-17     65
2023-01-18     69
2023-01-19     73
2023-01-20     77
2023-01-21     81
2023-01-22     85
2023-01-23     89
2023-01-24     93
2023-01-25     97
2023-01-26    101
2023-01-27    105
2023-01-28    109
2023-01-29    113
2023-01-30    117
Freq: D, Name: A, dtype: int32

In [76]:
# Selecting via [] (__getitem__), which slices the rows:
df[0:3]

            A   B   C   D
2023-01-01  1   2   3   4
2023-01-02  5   6   7   8
2023-01-03  9  10  11  12

In [77]:
df["20230101": "20230105"]

             A   B   C   D
2023-01-01   1   2   3   4
2023-01-02   5   6   7   8
2023-01-03   9  10  11  12
2023-01-04  13  14  15  16
2023-01-05  17  18  19  20

## Selection by label
See more in Selection by Label using `DataFrame.loc()` or `DataFrame.at()`.

In [81]:
# For getting a cross section using a label:
# dates[0]
# df.loc["20230101"]
df.loc[dates[0]]

A    1
B    2
C    3
D    4
Name: 2023-01-01 00:00:00, dtype: int32

In [93]:
# Selecting on a multi-axis by label:
# these are all valid examples of selection

# df.loc["20230101":"20230105", ["A", "B"]]
# df.loc["20230101":"20230105", list("AB")]
# df.loc["20230101":"20230105", list("AC")]
# df.loc[dates[0:], list("CD")]
# df.loc[dates[0:len(dates)], list("CD")]
df.loc[dates[3:5], list("CD")]

             C   D
2023-01-04  15  16
2023-01-05  19  20

In [95]:
# Showing label slicing, both endpoints are included:
df.loc["20230102":"20230104", ["A", "B"]]

             A   B
2023-01-02   5   6
2023-01-03   9  10
2023-01-04  13  14

In [96]:
# Reduction in the dimensions of the returned object:
df.loc["20230102", ["A", "B"]]

A    5
B    6
Name: 2023-01-02 00:00:00, dtype: int32

In [103]:
# KeyError when entry is not available
# df.loc["20130102", ["A", "B"]]

In [109]:
returned_val = df.loc[dates[0], list("D")]
type(returned_val)

pandas.core.series.Series

In [111]:
# For getting a scalar value:
returned_val2 = df.loc[dates[0], "D"]
print(returned_val2)
type(returned_val2)

4

numpy.int32

In [113]:
# For getting fast access to a scalar (equivalent to the prior method):
df.at[dates[0], "D"]

4

## Selection by position
See more in Selection by Position using `DataFrame.iloc()` or `DataFrame.at()`.

In [119]:
# Select via the position of the passed integers:
df.iloc[0]

A    1
B    2
C    3
D    4
Name: 2023-01-01 00:00:00, dtype: int32

In [124]:
# By integer slices, acting similar to NumPy/Python:

# df.iloc[0:5, 0:]
# df.iloc[0:5, 0:2]
# df.iloc[28:, :]
df.iloc[28:, :]

              A    B    C    D
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [125]:
# By lists of integer position locations, similar to the NumPy/Python style:
df.iloc[[1,6], [0,3]]

             A   D
2023-01-02   5   8
2023-01-07  25  28

In [130]:
# For slicing rows explicitly:
#  e.g. defining the rows explicitly to slice from the range
df.iloc[1:3, :]

            A   B   C   D
2023-01-02  5   6   7   8
2023-01-03  9  10  11  12

In [138]:
# For slicing columns explicitly
df.iloc[:, 1:3]

              B    C
2023-01-01    2    3
2023-01-02    6    7
2023-01-03   10   11
2023-01-04   14   15
2023-01-05   18   19
2023-01-06   22   23
2023-01-07   26   27
2023-01-08   30   31
2023-01-09   34   35
2023-01-10   38   39
2023-01-11   42   43
2023-01-12   46   47
2023-01-13   50   51
2023-01-14   54   55
2023-01-15   58   59
2023-01-16   62   63
2023-01-17   66   67
2023-01-18   70   71
2023-01-19   74   75
2023-01-20   78   79
2023-01-21   82   83
2023-01-22   86   87
2023-01-23   90   91
2023-01-24   94   95
2023-01-25   98   99
2023-01-26  102  103
2023-01-27  106  107
2023-01-28  110  111
2023-01-29  114  115
2023-01-30  118  119

In [139]:
# For slicing rows and columns explicitly
df.iloc[1:3, 1:3]

             B   C
2023-01-02   6   7
2023-01-03  10  11

In [143]:
# For getting a value explicitly:
df.iloc[3,2]

15

In [146]:
# For getting fast access to a scalar (equivalent to the prior method):
df.iat[3,2]

15

## Boolean indexing

In [157]:
# Using a single column’s values to select data:
# df[df["A"]>10 & df["A"] < 20] - Not working, need to check how to use multiple conditions?
df[df["A"]>10]
# df[df["A"]>10].sort_values(by="D", ascending=True)

              A    B    C    D
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [158]:
# Selecting values from a DataFrame where a boolean condition is met:
df[df > 10]

                A      B      C      D
2023-01-01    NaN    NaN    NaN    NaN
2023-01-02    NaN    NaN    NaN    NaN
2023-01-03    NaN    NaN   11.0   12.0
2023-01-04   13.0   14.0   15.0   16.0
2023-01-05   17.0   18.0   19.0   20.0
2023-01-06   21.0   22.0   23.0   24.0
2023-01-07   25.0   26.0   27.0   28.0
2023-01-08   29.0   30.0   31.0   32.0
2023-01-09   33.0   34.0   35.0   36.0
2023-01-10   37.0   38.0   39.0   40.0
2023-01-11   41.0   42.0   43.0   44.0
2023-01-12   45.0   46.0   47.0   48.0
2023-01-13   49.0   50.0   51.0   52.0
2023-01-14   53.0   54.0   55.0   56.0
2023-01-15   57.0   58.0   59.0   60.0
2023-01-16   61.0   62.0   63.0   64.0
2023-01-17   65.0   66.0   67.0   68.0
2023-01-18   69.0   70.0   71.0   72.0
2023-01-19   73.0   74.0   75.0   76.0
2023-01-20   77.0   78.0   79.0   80.0
2023-01-21   81.0   82.0   83.0   84.0
2023-01-22   85.0   86.0   87.0   88.0
2023-01-23   89.0   90.0   91.0   92.0
2023-01-24   93.0   94.0   95.0   96.0
2023-01-25   97.0   98.0   99.0  100.0
2023-01-26  101.0  102.0  103.0  104.0
2023-01-27  105.0  106.0  107.0  108.0
2023-01-28  109.0  110.0  111.0  112.0
2023-01-29  113.0  114.0  115.0  116.0
2023-01-30  117.0  118.0  119.0  120.0

In [170]:
# Using the isin() method for filtering:

# copy the data frame into new variable
df3 = df.copy()
# creating_list
l = ["one", "two", "three", "four", "five"] * 6

# creating a new column
df3["E"] = l

# df3[df3["E"].isin(["two"])]
df3[df3["E"].isin(["two", "four"])]

              A    B    C    D     E
2023-01-02    5    6    7    8   two
2023-01-04   13   14   15   16  four
2023-01-07   25   26   27   28   two
2023-01-09   33   34   35   36  four
2023-01-12   45   46   47   48   two
2023-01-14   53   54   55   56  four
2023-01-17   65   66   67   68   two
2023-01-19   73   74   75   76  four
2023-01-22   85   86   87   88   two
2023-01-24   93   94   95   96  four
2023-01-27  105  106  107  108   two
2023-01-29  113  114  115  116  four

In [171]:
df3["E"].isin(["two", "four"])

2023-01-01    False
2023-01-02     True
2023-01-03    False
2023-01-04     True
2023-01-05    False
2023-01-06    False
2023-01-07     True
2023-01-08    False
2023-01-09     True
2023-01-10    False
2023-01-11    False
2023-01-12     True
2023-01-13    False
2023-01-14     True
2023-01-15    False
2023-01-16    False
2023-01-17     True
2023-01-18    False
2023-01-19     True
2023-01-20    False
2023-01-21    False
2023-01-22     True
2023-01-23    False
2023-01-24     True
2023-01-25    False
2023-01-26    False
2023-01-27     True
2023-01-28    False
2023-01-29     True
2023-01-30    False
Freq: D, Name: E, dtype: bool

# Setting Data

In [175]:
# Setting a new column automatically aligns the data by the indexes:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [179]:
# Setting values by label:
df.at[dates[0], "A"] = 1
df

              A    B    C    D
2023-01-01    1    2    3    4
2023-01-02    5    6    7    8
2023-01-03    9   10   11   12
2023-01-04   13   14   15   16
2023-01-05   17   18   19   20
2023-01-06   21   22   23   24
2023-01-07   25   26   27   28
2023-01-08   29   30   31   32
2023-01-09   33   34   35   36
2023-01-10   37   38   39   40
2023-01-11   41   42   43   44
2023-01-12   45   46   47   48
2023-01-13   49   50   51   52
2023-01-14   53   54   55   56
2023-01-15   57   58   59   60
2023-01-16   61   62   63   64
2023-01-17   65   66   67   68
2023-01-18   69   70   71   72
2023-01-19   73   74   75   76
2023-01-20   77   78   79   80
2023-01-21   81   82   83   84
2023-01-22   85   86   87   88
2023-01-23   89   90   91   92
2023-01-24   93   94   95   96
2023-01-25   97   98   99  100
2023-01-26  101  102  103  104
2023-01-27  105  106  107  108
2023-01-28  109  110  111  112
2023-01-29  113  114  115  116
2023-01-30  117  118  119  120

In [183]:
# Setting values by position:
df.iat[0,0] = 1

In [184]:
df.loc[:, "D"]

2023-01-01      4
2023-01-02      8
2023-01-03     12
2023-01-04     16
2023-01-05     20
2023-01-06     24
2023-01-07     28
2023-01-08     32
2023-01-09     36
2023-01-10     40
2023-01-11     44
2023-01-12     48
2023-01-13     52
2023-01-14     56
2023-01-15     60
2023-01-16     64
2023-01-17     68
2023-01-18     72
2023-01-19     76
2023-01-20     80
2023-01-21     84
2023-01-22     88
2023-01-23     92
2023-01-24     96
2023-01-25    100
2023-01-26    104
2023-01-27    108
2023-01-28    112
2023-01-29    116
2023-01-30    120
Freq: D, Name: D, dtype: int32

In [185]:
df.loc[:, "E"] = np.array([5] * len(df))
df

              A    B    C    D  E
2023-01-01    1    2    3    4  5
2023-01-02    5    6    7    8  5
2023-01-03    9   10   11   12  5
2023-01-04   13   14   15   16  5
2023-01-05   17   18   19   20  5
2023-01-06   21   22   23   24  5
2023-01-07   25   26   27   28  5
2023-01-08   29   30   31   32  5
2023-01-09   33   34   35   36  5
2023-01-10   37   38   39   40  5
2023-01-11   41   42   43   44  5
2023-01-12   45   46   47   48  5
2023-01-13   49   50   51   52  5
2023-01-14   53   54   55   56  5
2023-01-15   57   58   59   60  5
2023-01-16   61   62   63   64  5
2023-01-17   65   66   67   68  5
2023-01-18   69   70   71   72  5
2023-01-19   73   74   75   76  5
2023-01-20   77   78   79   80  5
2023-01-21   81   82   83   84  5
2023-01-22   85   86   87   88  5
2023-01-23   89   90   91   92  5
2023-01-24   93   94   95   96  5
2023-01-25   97   98   99  100  5
2023-01-26  101  102  103  104  5
2023-01-27  105  106  107  108  5
2023-01-28  109  110  111  112  5
2023-01-29  113  114  115  116  5
2023-01-30  117  118  119  120  5

In [186]:
df.loc[dates[0], "E"] = 4
df

              A    B    C    D  E
2023-01-01    1    2    3    4  4
2023-01-02    5    6    7    8  5
2023-01-03    9   10   11   12  5
2023-01-04   13   14   15   16  5
2023-01-05   17   18   19   20  5
2023-01-06   21   22   23   24  5
2023-01-07   25   26   27   28  5
2023-01-08   29   30   31   32  5
2023-01-09   33   34   35   36  5
2023-01-10   37   38   39   40  5
2023-01-11   41   42   43   44  5
2023-01-12   45   46   47   48  5
2023-01-13   49   50   51   52  5
2023-01-14   53   54   55   56  5
2023-01-15   57   58   59   60  5
2023-01-16   61   62   63   64  5
2023-01-17   65   66   67   68  5
2023-01-18   69   70   71   72  5
2023-01-19   73   74   75   76  5
2023-01-20   77   78   79   80  5
2023-01-21   81   82   83   84  5
2023-01-22   85   86   87   88  5
2023-01-23   89   90   91   92  5
2023-01-24   93   94   95   96  5
2023-01-25   97   98   99  100  5
2023-01-26  101  102  103  104  5
2023-01-27  105  106  107  108  5
2023-01-28  109  110  111  112  5
2023-01-29  113  114  115  116  5
2023-01-30  117  118  119  120  5

In [187]:
df.describe()

                A           B           C           D          E
count   30.000000   30.000000   30.000000   30.000000  30.000000
mean    59.000000   60.000000   61.000000   62.000000   4.966667
std     35.213634   35.213634   35.213634   35.213634   0.182574
min      1.000000    2.000000    3.000000    4.000000   4.000000
25%     30.000000   31.000000   32.000000   33.000000   5.000000
50%     59.000000   60.000000   61.000000   62.000000   5.000000
75%     88.000000   89.000000   90.000000   91.000000   5.000000
max    117.000000  118.000000  119.000000  120.000000   5.000000

In [190]:
desc = df.describe()
desc

                A           B           C           D          E
count   30.000000   30.000000   30.000000   30.000000  30.000000
mean    59.000000   60.000000   61.000000   62.000000   4.966667
std     35.213634   35.213634   35.213634   35.213634   0.182574
min      1.000000    2.000000    3.000000    4.000000   4.000000
25%     30.000000   31.000000   32.000000   33.000000   5.000000
50%     59.000000   60.000000   61.000000   62.000000   5.000000
75%     88.000000   89.000000   90.000000   91.000000   5.000000
max    117.000000  118.000000  119.000000  120.000000   5.000000

In [191]:
desc.loc["mean", "A"]

59.0

In [194]:
# df.loc["mean", :] = desc.loc["mean", "A"]
df.loc[:, "mean"] = desc.loc["mean", "A"]
df

                         A      B      C      D     E  mean
2023-01-01 00:00:00    1.0    2.0    3.0    4.0   4.0  59.0
2023-01-02 00:00:00    5.0    6.0    7.0    8.0   5.0  59.0
2023-01-03 00:00:00    9.0   10.0   11.0   12.0   5.0  59.0
2023-01-04 00:00:00   13.0   14.0   15.0   16.0   5.0  59.0
2023-01-05 00:00:00   17.0   18.0   19.0   20.0   5.0  59.0
2023-01-06 00:00:00   21.0   22.0   23.0   24.0   5.0  59.0
2023-01-07 00:00:00   25.0   26.0   27.0   28.0   5.0  59.0
2023-01-08 00:00:00   29.0   30.0   31.0   32.0   5.0  59.0
2023-01-09 00:00:00   33.0   34.0   35.0   36.0   5.0  59.0
2023-01-10 00:00:00   37.0   38.0   39.0   40.0   5.0  59.0
2023-01-11 00:00:00   41.0   42.0   43.0   44.0   5.0  59.0
2023-01-12 00:00:00   45.0   46.0   47.0   48.0   5.0  59.0
2023-01-13 00:00:00   49.0   50.0   51.0   52.0   5.0  59.0
2023-01-14 00:00:00   53.0   54.0   55.0   56.0   5.0  59.0
2023-01-15 00:00:00   57.0   58.0   59.0   60.0   5.0  59.0
2023-01-16 00:00:00   61.0   62.0   63.0   64.0   5.0  59.0
2023-01-17 00:00:00   65.0   66.0   67.0   68.0   5.0  59.0
2023-01-18 00:00:00   69.0   70.0   71.0   72.0   5.0  59.0
2023-01-19 00:00:00   73.0   74.0   75.0   76.0   5.0  59.0
2023-01-20 00:00:00   77.0   78.0   79.0   80.0   5.0  59.0
2023-01-21 00:00:00   81.0   82.0   83.0   84.0   5.0  59.0
2023-01-22 00:00:00   85.0   86.0   87.0   88.0   5.0  59.0
2023-01-23 00:00:00   89.0   90.0   91.0   92.0   5.0  59.0
2023-01-24 00:00:00   93.0   94.0   95.0   96.0   5.0  59.0
2023-01-25 00:00:00   97.0   98.0   99.0  100.0   5.0  59.0
2023-01-26 00:00:00  101.0  102.0  103.0  104.0   5.0  59.0
2023-01-27 00:00:00  105.0  106.0  107.0  108.0   5.0  59.0
2023-01-28 00:00:00  109.0  110.0  111.0  112.0   5.0  59.0
2023-01-29 00:00:00  113.0  114.0  115.0  116.0   5.0  59.0
2023-01-30 00:00:00  117.0  118.0  119.0  120.0   5.0  59.0
mean                  59.0   59.0   59.0   59.0  59.0  59.0

In [199]:
df4 = df.copy()
df4 = df4.iloc[0:-1, :]
df4

                         A      B      C      D    E  mean
2023-01-01 00:00:00    1.0    2.0    3.0    4.0  4.0  59.0
2023-01-02 00:00:00    5.0    6.0    7.0    8.0  5.0  59.0
2023-01-03 00:00:00    9.0   10.0   11.0   12.0  5.0  59.0
2023-01-04 00:00:00   13.0   14.0   15.0   16.0  5.0  59.0
2023-01-05 00:00:00   17.0   18.0   19.0   20.0  5.0  59.0
2023-01-06 00:00:00   21.0   22.0   23.0   24.0  5.0  59.0
2023-01-07 00:00:00   25.0   26.0   27.0   28.0  5.0  59.0
2023-01-08 00:00:00   29.0   30.0   31.0   32.0  5.0  59.0
2023-01-09 00:00:00   33.0   34.0   35.0   36.0  5.0  59.0
2023-01-10 00:00:00   37.0   38.0   39.0   40.0  5.0  59.0
2023-01-11 00:00:00   41.0   42.0   43.0   44.0  5.0  59.0
2023-01-12 00:00:00   45.0   46.0   47.0   48.0  5.0  59.0
2023-01-13 00:00:00   49.0   50.0   51.0   52.0  5.0  59.0
2023-01-14 00:00:00   53.0   54.0   55.0   56.0  5.0  59.0
2023-01-15 00:00:00   57.0   58.0   59.0   60.0  5.0  59.0
2023-01-16 00:00:00   61.0   62.0   63.0   64.0  5.0  59.0
2023-01-17 00:00:00   65.0   66.0   67.0   68.0  5.0  59.0
2023-01-18 00:00:00   69.0   70.0   71.0   72.0  5.0  59.0
2023-01-19 00:00:00   73.0   74.0   75.0   76.0  5.0  59.0
2023-01-20 00:00:00   77.0   78.0   79.0   80.0  5.0  59.0
2023-01-21 00:00:00   81.0   82.0   83.0   84.0  5.0  59.0
2023-01-22 00:00:00   85.0   86.0   87.0   88.0  5.0  59.0
2023-01-23 00:00:00   89.0   90.0   91.0   92.0  5.0  59.0
2023-01-24 00:00:00   93.0   94.0   95.0   96.0  5.0  59.0
2023-01-25 00:00:00   97.0   98.0   99.0  100.0  5.0  59.0
2023-01-26 00:00:00  101.0  102.0  103.0  104.0  5.0  59.0
2023-01-27 00:00:00  105.0  106.0  107.0  108.0  5.0  59.0
2023-01-28 00:00:00  109.0  110.0  111.0  112.0  5.0  59.0
2023-01-29 00:00:00  113.0  114.0  115.0  116.0  5.0  59.0
2023-01-30 00:00:00  117.0  118.0  119.0  120.0  5.0  59.0

In [202]:
np.mean(df.iloc[0, 0:4])

2.5

In [203]:
len(df)

31

In [204]:
df

                         A      B      C      D     E  mean
2023-01-01 00:00:00    1.0    2.0    3.0    4.0   4.0  59.0
2023-01-02 00:00:00    5.0    6.0    7.0    8.0   5.0  59.0
2023-01-03 00:00:00    9.0   10.0   11.0   12.0   5.0  59.0
2023-01-04 00:00:00   13.0   14.0   15.0   16.0   5.0  59.0
2023-01-05 00:00:00   17.0   18.0   19.0   20.0   5.0  59.0
2023-01-06 00:00:00   21.0   22.0   23.0   24.0   5.0  59.0
2023-01-07 00:00:00   25.0   26.0   27.0   28.0   5.0  59.0
2023-01-08 00:00:00   29.0   30.0   31.0   32.0   5.0  59.0
2023-01-09 00:00:00   33.0   34.0   35.0   36.0   5.0  59.0
2023-01-10 00:00:00   37.0   38.0   39.0   40.0   5.0  59.0
2023-01-11 00:00:00   41.0   42.0   43.0   44.0   5.0  59.0
2023-01-12 00:00:00   45.0   46.0   47.0   48.0   5.0  59.0
2023-01-13 00:00:00   49.0   50.0   51.0   52.0   5.0  59.0
2023-01-14 00:00:00   53.0   54.0   55.0   56.0   5.0  59.0
2023-01-15 00:00:00   57.0   58.0   59.0   60.0   5.0  59.0
2023-01-16 00:00:00   61.0   62.0   63.0   64.0   5.0  59.0
2023-01-17 00:00:00   65.0   66.0   67.0   68.0   5.0  59.0
2023-01-18 00:00:00   69.0   70.0   71.0   72.0   5.0  59.0
2023-01-19 00:00:00   73.0   74.0   75.0   76.0   5.0  59.0
2023-01-20 00:00:00   77.0   78.0   79.0   80.0   5.0  59.0
2023-01-21 00:00:00   81.0   82.0   83.0   84.0   5.0  59.0
2023-01-22 00:00:00   85.0   86.0   87.0   88.0   5.0  59.0
2023-01-23 00:00:00   89.0   90.0   91.0   92.0   5.0  59.0
2023-01-24 00:00:00   93.0   94.0   95.0   96.0   5.0  59.0
2023-01-25 00:00:00   97.0   98.0   99.0  100.0   5.0  59.0
2023-01-26 00:00:00  101.0  102.0  103.0  104.0   5.0  59.0
2023-01-27 00:00:00  105.0  106.0  107.0  108.0   5.0  59.0
2023-01-28 00:00:00  109.0  110.0  111.0  112.0   5.0  59.0
2023-01-29 00:00:00  113.0  114.0  115.0  116.0   5.0  59.0
2023-01-30 00:00:00  117.0  118.0  119.0  120.0   5.0  59.0
mean                  59.0   59.0   59.0   59.0  59.0  59.0

In [205]:
df = df4.copy()

In [206]:
df

                         A      B      C      D    E  mean
2023-01-01 00:00:00    1.0    2.0    3.0    4.0  4.0  59.0
2023-01-02 00:00:00    5.0    6.0    7.0    8.0  5.0  59.0
2023-01-03 00:00:00    9.0   10.0   11.0   12.0  5.0  59.0
2023-01-04 00:00:00   13.0   14.0   15.0   16.0  5.0  59.0
2023-01-05 00:00:00   17.0   18.0   19.0   20.0  5.0  59.0
2023-01-06 00:00:00   21.0   22.0   23.0   24.0  5.0  59.0
2023-01-07 00:00:00   25.0   26.0   27.0   28.0  5.0  59.0
2023-01-08 00:00:00   29.0   30.0   31.0   32.0  5.0  59.0
2023-01-09 00:00:00   33.0   34.0   35.0   36.0  5.0  59.0
2023-01-10 00:00:00   37.0   38.0   39.0   40.0  5.0  59.0
2023-01-11 00:00:00   41.0   42.0   43.0   44.0  5.0  59.0
2023-01-12 00:00:00   45.0   46.0   47.0   48.0  5.0  59.0
2023-01-13 00:00:00   49.0   50.0   51.0   52.0  5.0  59.0
2023-01-14 00:00:00   53.0   54.0   55.0   56.0  5.0  59.0
2023-01-15 00:00:00   57.0   58.0   59.0   60.0  5.0  59.0
2023-01-16 00:00:00   61.0   62.0   63.0   64.0  5.0  59.0
2023-01-17 00:00:00   65.0   66.0   67.0   68.0  5.0  59.0
2023-01-18 00:00:00   69.0   70.0   71.0   72.0  5.0  59.0
2023-01-19 00:00:00   73.0   74.0   75.0   76.0  5.0  59.0
2023-01-20 00:00:00   77.0   78.0   79.0   80.0  5.0  59.0
2023-01-21 00:00:00   81.0   82.0   83.0   84.0  5.0  59.0
2023-01-22 00:00:00   85.0   86.0   87.0   88.0  5.0  59.0
2023-01-23 00:00:00   89.0   90.0   91.0   92.0  5.0  59.0
2023-01-24 00:00:00   93.0   94.0   95.0   96.0  5.0  59.0
2023-01-25 00:00:00   97.0   98.0   99.0  100.0  5.0  59.0
2023-01-26 00:00:00  101.0  102.0  103.0  104.0  5.0  59.0
2023-01-27 00:00:00  105.0  106.0  107.0  108.0  5.0  59.0
2023-01-28 00:00:00  109.0  110.0  111.0  112.0  5.0  59.0
2023-01-29 00:00:00  113.0  114.0  115.0  116.0  5.0  59.0
2023-01-30 00:00:00  117.0  118.0  119.0  120.0  5.0  59.0

# Assignment
Add a column to the existing DataFrame containing the "mean" value of the data in each row from "ABCD" columns

In [226]:
# setting mean by using a loop.

# first run a loop of length of DataFrame
for i in np.arange(1, len(df)+1):

    # Calculate the required mean
    required_mean = np.mean(df.iloc[i-1, 0:4])

    # find the index of the mean column in the dataframe
    mean_index = list(df.columns).index("mean")

    # set the calculated mean to the correct location
    df.iloc[i-1,mean_index] = required_mean

    # end of loop

# finding index of mean
# list(df.columns).index("mean")
df

                         A      B      C      D    E   mean
2023-01-01 00:00:00    1.0    2.0    3.0    4.0  4.0    2.5
2023-01-02 00:00:00    5.0    6.0    7.0    8.0  5.0    6.5
2023-01-03 00:00:00    9.0   10.0   11.0   12.0  5.0   10.5
2023-01-04 00:00:00   13.0   14.0   15.0   16.0  5.0   14.5
2023-01-05 00:00:00   17.0   18.0   19.0   20.0  5.0   18.5
2023-01-06 00:00:00   21.0   22.0   23.0   24.0  5.0   22.5
2023-01-07 00:00:00   25.0   26.0   27.0   28.0  5.0   26.5
2023-01-08 00:00:00   29.0   30.0   31.0   32.0  5.0   30.5
2023-01-09 00:00:00   33.0   34.0   35.0   36.0  5.0   34.5
2023-01-10 00:00:00   37.0   38.0   39.0   40.0  5.0   38.5
2023-01-11 00:00:00   41.0   42.0   43.0   44.0  5.0   42.5
2023-01-12 00:00:00   45.0   46.0   47.0   48.0  5.0   46.5
2023-01-13 00:00:00   49.0   50.0   51.0   52.0  5.0   50.5
2023-01-14 00:00:00   53.0   54.0   55.0   56.0  5.0   54.5
2023-01-15 00:00:00   57.0   58.0   59.0   60.0  5.0   58.5
2023-01-16 00:00:00   61.0   62.0   63.0   64.0  5.0   62.5
2023-01-17 00:00:00   65.0   66.0   67.0   68.0  5.0   66.5
2023-01-18 00:00:00   69.0   70.0   71.0   72.0  5.0   70.5
2023-01-19 00:00:00   73.0   74.0   75.0   76.0  5.0   74.5
2023-01-20 00:00:00   77.0   78.0   79.0   80.0  5.0   78.5
2023-01-21 00:00:00   81.0   82.0   83.0   84.0  5.0   82.5
2023-01-22 00:00:00   85.0   86.0   87.0   88.0  5.0   86.5
2023-01-23 00:00:00   89.0   90.0   91.0   92.0  5.0   90.5
2023-01-24 00:00:00   93.0   94.0   95.0   96.0  5.0   94.5
2023-01-25 00:00:00   97.0   98.0   99.0  100.0  5.0   98.5
2023-01-26 00:00:00  101.0  102.0  103.0  104.0  5.0  102.5
2023-01-27 00:00:00  105.0  106.0  107.0  108.0  5.0  106.5
2023-01-28 00:00:00  109.0  110.0  111.0  112.0  5.0  110.5
2023-01-29 00:00:00  113.0  114.0  115.0  116.0  5.0  114.5
2023-01-30 00:00:00  117.0  118.0  119.0  120.0  5.0  118.5

In [228]:
# A where operation with setting:
df5 = df.copy()
df5[df5 > 100] = -df5
df5

                         A      B      C      D    E   mean
2023-01-01 00:00:00    1.0    2.0    3.0    4.0  4.0    2.5
2023-01-02 00:00:00    5.0    6.0    7.0    8.0  5.0    6.5
2023-01-03 00:00:00    9.0   10.0   11.0   12.0  5.0   10.5
2023-01-04 00:00:00   13.0   14.0   15.0   16.0  5.0   14.5
2023-01-05 00:00:00   17.0   18.0   19.0   20.0  5.0   18.5
2023-01-06 00:00:00   21.0   22.0   23.0   24.0  5.0   22.5
2023-01-07 00:00:00   25.0   26.0   27.0   28.0  5.0   26.5
2023-01-08 00:00:00   29.0   30.0   31.0   32.0  5.0   30.5
2023-01-09 00:00:00   33.0   34.0   35.0   36.0  5.0   34.5
2023-01-10 00:00:00   37.0   38.0   39.0   40.0  5.0   38.5
2023-01-11 00:00:00   41.0   42.0   43.0   44.0  5.0   42.5
2023-01-12 00:00:00   45.0   46.0   47.0   48.0  5.0   46.5
2023-01-13 00:00:00   49.0   50.0   51.0   52.0  5.0   50.5
2023-01-14 00:00:00   53.0   54.0   55.0   56.0  5.0   54.5
2023-01-15 00:00:00   57.0   58.0   59.0   60.0  5.0   58.5
2023-01-16 00:00:00   61.0   62.0   63.0   64.0  5.0   62.5
2023-01-17 00:00:00   65.0   66.0   67.0   68.0  5.0   66.5
2023-01-18 00:00:00   69.0   70.0   71.0   72.0  5.0   70.5
2023-01-19 00:00:00   73.0   74.0   75.0   76.0  5.0   74.5
2023-01-20 00:00:00   77.0   78.0   79.0   80.0  5.0   78.5
2023-01-21 00:00:00   81.0   82.0   83.0   84.0  5.0   82.5
2023-01-22 00:00:00   85.0   86.0   87.0   88.0  5.0   86.5
2023-01-23 00:00:00   89.0   90.0   91.0   92.0  5.0   90.5
2023-01-24 00:00:00   93.0   94.0   95.0   96.0  5.0   94.5
2023-01-25 00:00:00   97.0   98.0   99.0  100.0  5.0   98.5
2023-01-26 00:00:00 -101.0 -102.0 -103.0 -104.0  5.0 -102.5
2023-01-27 00:00:00 -105.0 -106.0 -107.0 -108.0  5.0 -106.5
2023-01-28 00:00:00 -109.0 -110.0 -111.0 -112.0  5.0 -110.5
2023-01-29 00:00:00 -113.0 -114.0 -115.0 -116.0  5.0 -114.5
2023-01-30 00:00:00 -117.0 -118.0 -119.0 -120.0  5.0 -118.5

## Missing data
pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the [Missing Data](https://pandas.pydata.org/docs/user_guide/missing_data.html#missing-data) section.

In [229]:
# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

In [231]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["F"])
df1

               A     B     C     D    E  mean   F
2023-01-01   1.0   2.0   3.0   4.0  4.0   2.5 NaN
2023-01-02   5.0   6.0   7.0   8.0  5.0   6.5 NaN
2023-01-03   9.0  10.0  11.0  12.0  5.0  10.5 NaN
2023-01-04  13.0  14.0  15.0  16.0  5.0  14.5 NaN

In [233]:
df1.loc[dates[0]: dates[1], "F"] = 1
df1

               A     B     C     D    E  mean    F
2023-01-01   1.0   2.0   3.0   4.0  1.0   2.5  1.0
2023-01-02   5.0   6.0   7.0   8.0  1.0   6.5  1.0
2023-01-03   9.0  10.0  11.0  12.0  5.0  10.5  NaN
2023-01-04  13.0  14.0  15.0  16.0  5.0  14.5  NaN

In [234]:
# DataFrame.dropna() drops any rows that have missing data:
df1.dropna(how="any")

              A    B    C    D    E  mean    F
2023-01-01  1.0  2.0  3.0  4.0  1.0   2.5  1.0
2023-01-02  5.0  6.0  7.0  8.0  1.0   6.5  1.0

In [236]:
df1.dropna(how="all")

               A     B     C     D    E  mean    F
2023-01-01   1.0   2.0   3.0   4.0  1.0   2.5  1.0
2023-01-02   5.0   6.0   7.0   8.0  1.0   6.5  1.0
2023-01-03   9.0  10.0  11.0  12.0  5.0  10.5  NaN
2023-01-04  13.0  14.0  15.0  16.0  5.0  14.5  NaN

In [238]:
# DataFrame.fillna() fills missing data:
df1.copy().fillna(value=5)

               A     B     C     D    E  mean    F
2023-01-01   1.0   2.0   3.0   4.0  1.0   2.5  1.0
2023-01-02   5.0   6.0   7.0   8.0  1.0   6.5  1.0
2023-01-03   9.0  10.0  11.0  12.0  5.0  10.5  5.0
2023-01-04  13.0  14.0  15.0  16.0  5.0  14.5  5.0

In [239]:
df1

               A     B     C     D    E  mean    F
2023-01-01   1.0   2.0   3.0   4.0  1.0   2.5  1.0
2023-01-02   5.0   6.0   7.0   8.0  1.0   6.5  1.0
2023-01-03   9.0  10.0  11.0  12.0  5.0  10.5  NaN
2023-01-04  13.0  14.0  15.0  16.0  5.0  14.5  NaN

In [240]:
# isna() gets the boolean mask where values are nan:
pd.isna(df1)

                A      B      C      D      E   mean      F
2023-01-01  False  False  False  False  False  False  False
2023-01-02  False  False  False  False  False  False  False
2023-01-03  False  False  False  False  False  False   True
2023-01-04  False  False  False  False  False  False   True

## Operations
See the [Basic section on Binary Ops](https://pandas.pydata.org/docs/user_guide/basics.html#basics-binop).

## Stats
Operations in general exclude missing data.

In [243]:
# Performing a descriptive statistic:
df.mean()

A       59.000000
B       60.000000
C       61.000000
D       62.000000
E        4.966667
mean    60.500000
dtype: float64

In [244]:
# Same operation on the other axis:
df.mean(axis=1)

2023-01-01     2.750000
2023-01-02     6.250000
2023-01-03     9.583333
2023-01-04    12.916667
2023-01-05    16.250000
2023-01-06    19.583333
2023-01-07    22.916667
2023-01-08    26.250000
2023-01-09    29.583333
2023-01-10    32.916667
2023-01-11    36.250000
2023-01-12    39.583333
2023-01-13    42.916667
2023-01-14    46.250000
2023-01-15    49.583333
2023-01-16    52.916667
2023-01-17    56.250000
2023-01-18    59.583333
2023-01-19    62.916667
2023-01-20    66.250000
2023-01-21    69.583333
2023-01-22    72.916667
2023-01-23    76.250000
2023-01-24    79.583333
2023-01-25    82.916667
2023-01-26    86.250000
2023-01-27    89.583333
2023-01-28    92.916667
2023-01-29    96.250000
2023-01-30    99.583333
dtype: float64

In [246]:
df = original_data.copy()

In [247]:
df.mean(axis=1)

2023-01-01      2.5
2023-01-02      6.5
2023-01-03     10.5
2023-01-04     14.5
2023-01-05     18.5
2023-01-06     22.5
2023-01-07     26.5
2023-01-08     30.5
2023-01-09     34.5
2023-01-10     38.5
2023-01-11     42.5
2023-01-12     46.5
2023-01-13     50.5
2023-01-14     54.5
2023-01-15     58.5
2023-01-16     62.5
2023-01-17     66.5
2023-01-18     70.5
2023-01-19     74.5
2023-01-20     78.5
2023-01-21     82.5
2023-01-22     86.5
2023-01-23     90.5
2023-01-24     94.5
2023-01-25     98.5
2023-01-26    102.5
2023-01-27    106.5
2023-01-28    110.5
2023-01-29    114.5
2023-01-30    118.5
Freq: D, dtype: float64

In [248]:
# Great, a simple way to assign mean to the whole data frame
df.loc[:, "mean"] = df.mean(axis=1)
df

              A    B    C    D   mean
2023-01-01    1    2    3    4    2.5
2023-01-02    5    6    7    8    6.5
2023-01-03    9   10   11   12   10.5
2023-01-04   13   14   15   16   14.5
2023-01-05   17   18   19   20   18.5
2023-01-06   21   22   23   24   22.5
2023-01-07   25   26   27   28   26.5
2023-01-08   29   30   31   32   30.5
2023-01-09   33   34   35   36   34.5
2023-01-10   37   38   39   40   38.5
2023-01-11   41   42   43   44   42.5
2023-01-12   45   46   47   48   46.5
2023-01-13   49   50   51   52   50.5
2023-01-14   53   54   55   56   54.5
2023-01-15   57   58   59   60   58.5
2023-01-16   61   62   63   64   62.5
2023-01-17   65   66   67   68   66.5
2023-01-18   69   70   71   72   70.5
2023-01-19   73   74   75   76   74.5
2023-01-20   77   78   79   80   78.5
2023-01-21   81   82   83   84   82.5
2023-01-22   85   86   87   88   86.5
2023-01-23   89   90   91   92   90.5
2023-01-24   93   94   95   96   94.5
2023-01-25   97   98   99  100   98.5
2023-01-26  101  102  103  104  102.5
2023-01-27  105  106  107  108  106.5
2023-01-28  109  110  111  112  110.5
2023-01-29  113  114  115  116  114.5
2023-01-30  117  118  119  120  118.5

In [264]:
# Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension:
s1 = pd.Series([1,3,5,np.nan, 6,8], index=dates[0:6]).shift(2)
s1

2023-01-01    NaN
2023-01-02    NaN
2023-01-03    1.0
2023-01-04    3.0
2023-01-05    5.0
2023-01-06    NaN
Freq: D, dtype: float64

In [262]:
s2 = pd.Series([1,3,5,np.nan, 6,8], index=dates[0:6]).shift(periods=2, fill_value=55)
s2

2023-01-01    55.0
2023-01-02    55.0
2023-01-03     1.0
2023-01-04     3.0
2023-01-05     5.0
2023-01-06     NaN
Freq: D, dtype: float64

In [265]:
df.sub(s1, axis="index")

               A     B     C     D  mean
2023-01-01   NaN   NaN   NaN   NaN   NaN
2023-01-02   NaN   NaN   NaN   NaN   NaN
2023-01-03   8.0   9.0  10.0  11.0   9.5
2023-01-04  10.0  11.0  12.0  13.0  11.5
2023-01-05  12.0  13.0  14.0  15.0  13.5
2023-01-06   NaN   NaN   NaN   NaN   NaN
2023-01-07   NaN   NaN   NaN   NaN   NaN
2023-01-08   NaN   NaN   NaN   NaN   NaN
2023-01-09   NaN   NaN   NaN   NaN   NaN
2023-01-10   NaN   NaN   NaN   NaN   NaN
2023-01-11   NaN   NaN   NaN   NaN   NaN
2023-01-12   NaN   NaN   NaN   NaN   NaN
2023-01-13   NaN   NaN   NaN   NaN   NaN
2023-01-14   NaN   NaN   NaN   NaN   NaN
2023-01-15   NaN   NaN   NaN   NaN   NaN
2023-01-16   NaN   NaN   NaN   NaN   NaN
2023-01-17   NaN   NaN   NaN   NaN   NaN
2023-01-18   NaN   NaN   NaN   NaN   NaN
2023-01-19   NaN   NaN   NaN   NaN   NaN
2023-01-20   NaN   NaN   NaN   NaN   NaN
2023-01-21   NaN   NaN   NaN   NaN   NaN
2023-01-22   NaN   NaN   NaN   NaN   NaN
2023-01-23   NaN   NaN   NaN   NaN   NaN
2023-01-24   NaN   NaN   NaN   NaN   NaN
2023-01-25   NaN   NaN   NaN   NaN   NaN
2023-01-26   NaN   NaN   NaN   NaN   NaN
2023-01-27   NaN   NaN   NaN   NaN   NaN
2023-01-28   NaN   NaN   NaN   NaN   NaN
2023-01-29   NaN   NaN   NaN   NaN   NaN
2023-01-30   NaN   NaN   NaN   NaN   NaN

## Apply
`DataFrame.apply()` applies a user defined function to the data:

In [267]:
test_data = df.copy()
test_data.apply(np.cumsum)

               A     B     C     D    mean
2023-01-01     1     2     3     4     2.5
2023-01-02     6     8    10    12     9.0
2023-01-03    15    18    21    24    19.5
2023-01-04    28    32    36    40    34.0
2023-01-05    45    50    55    60    52.5
2023-01-06    66    72    78    84    75.0
2023-01-07    91    98   105   112   101.5
2023-01-08   120   128   136   144   132.0
2023-01-09   153   162   171   180   166.5
2023-01-10   190   200   210   220   205.0
2023-01-11   231   242   253   264   247.5
2023-01-12   276   288   300   312   294.0
2023-01-13   325   338   351   364   344.5
2023-01-14   378   392   406   420   399.0
2023-01-15   435   450   465   480   457.5
2023-01-16   496   512   528   544   520.0
2023-01-17   561   578   595   612   586.5
2023-01-18   630   648   666   684   657.0
2023-01-19   703   722   741   760   731.5
2023-01-20   780   800   820   840   810.0
2023-01-21   861   882   903   924   892.5
2023-01-22   946   968   990  1012   979.0
2023-01-23  1035  1058  1081  1104  1069.5
2023-01-24  1128  1152  1176  1200  1164.0
2023-01-25  1225  1250  1275  1300  1262.5
2023-01-26  1326  1352  1378  1404  1365.0
2023-01-27  1431  1458  1485  1512  1471.5
2023-01-28  1540  1568  1596  1624  1582.0
2023-01-29  1653  1682  1711  1740  1696.5
2023-01-30  1770  1800  1830  1860  1815.0

In [268]:
test_data = df.copy()

In [269]:
test_data.apply(lambda x: x.max() - x.min())

A       116.0
B       116.0
C       116.0
D       116.0
mean    116.0
dtype: float64

In [270]:
test_data

              A    B    C    D   mean
2023-01-01    1    2    3    4    2.5
2023-01-02    5    6    7    8    6.5
2023-01-03    9   10   11   12   10.5
2023-01-04   13   14   15   16   14.5
2023-01-05   17   18   19   20   18.5
2023-01-06   21   22   23   24   22.5
2023-01-07   25   26   27   28   26.5
2023-01-08   29   30   31   32   30.5
2023-01-09   33   34   35   36   34.5
2023-01-10   37   38   39   40   38.5
2023-01-11   41   42   43   44   42.5
2023-01-12   45   46   47   48   46.5
2023-01-13   49   50   51   52   50.5
2023-01-14   53   54   55   56   54.5
2023-01-15   57   58   59   60   58.5
2023-01-16   61   62   63   64   62.5
2023-01-17   65   66   67   68   66.5
2023-01-18   69   70   71   72   70.5
2023-01-19   73   74   75   76   74.5
2023-01-20   77   78   79   80   78.5
2023-01-21   81   82   83   84   82.5
2023-01-22   85   86   87   88   86.5
2023-01-23   89   90   91   92   90.5
2023-01-24   93   94   95   96   94.5
2023-01-25   97   98   99  100   98.5
2023-01-26  101  102  103  104  102.5
2023-01-27  105  106  107  108  106.5
2023-01-28  109  110  111  112  110.5
2023-01-29  113  114  115  116  114.5
2023-01-30  117  118  119  120  118.5

## Histogramming
See more at [Histogramming and Discretization](https://pandas.pydata.org/docs/user_guide/basics.html#basics-discretization).

In [271]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    4
1    6
2    4
3    3
4    5
5    4
6    1
7    3
8    1
9    6
dtype: int32

In [272]:
s.value_counts()

4    3
6    2
3    2
1    2
5    1
dtype: int64

## String Methods
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in `str` generally uses [regular expressions](https://docs.python.org/3/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](https://pandas.pydata.org/docs/user_guide/text.html#text-string-methods).

In [273]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [275]:
print(s.str)

<pandas.core.strings.accessor.StringMethods object at 0x000001B899DCBD30>

## Merge

## concat

pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the [Merging section](https://pandas.pydata.org/docs/user_guide/merging.html#merging).

Concatenating pandas objects together along an axis with [concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html#pandas.concat):

In [276]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.370743 -1.098338  0.044564  0.732757
1  1.439221  0.607933  0.391922  0.572369
2 -1.120110 -0.088718 -1.631697 -2.492990
3 -1.533743  0.678994 -1.160236 -0.220239
4 -1.356726  0.742685 -0.480450  0.130504
5 -0.369372 -0.047318 -0.373065 -0.896775
6 -0.394541  0.197282  0.512641 -0.842950
7  0.369414 -0.438037  1.468084  1.717126
8 -1.575301  2.260104 -0.325831 -1.388426
9  1.317619  2.447329 -1.680563 -0.776887

In [278]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.370743 -1.098338  0.044564  0.732757
 1  1.439221  0.607933  0.391922  0.572369
 2 -1.120110 -0.088718 -1.631697 -2.492990,
           0         1         2         3
 3 -1.533743  0.678994 -1.160236 -0.220239
 4 -1.356726  0.742685 -0.480450  0.130504
 5 -0.369372 -0.047318 -0.373065 -0.896775
 6 -0.394541  0.197282  0.512641 -0.842950,
           0         1         2         3
 7  0.369414 -0.438037  1.468084  1.717126
 8 -1.575301  2.260104 -0.325831 -1.388426
 9  1.317619  2.447329 -1.680563 -0.776887]

In [279]:
type(pieces)

list

In [280]:
pieces[0]

          0         1         2         3
0 -0.370743 -1.098338  0.044564  0.732757
1  1.439221  0.607933  0.391922  0.572369
2 -1.120110 -0.088718 -1.631697 -2.492990

In [281]:
pd.concat(pieces)

          0         1         2         3
0 -0.370743 -1.098338  0.044564  0.732757
1  1.439221  0.607933  0.391922  0.572369
2 -1.120110 -0.088718 -1.631697 -2.492990
3 -1.533743  0.678994 -1.160236 -0.220239
4 -1.356726  0.742685 -0.480450  0.130504
5 -0.369372 -0.047318 -0.373065 -0.896775
6 -0.394541  0.197282  0.512641 -0.842950
7  0.369414 -0.438037  1.468084  1.717126
8 -1.575301  2.260104 -0.325831 -1.388426
9  1.317619  2.447329 -1.680563 -0.776887

#### Note
Adding a column to a DataFrame is relatively fast. However, adding a row requires a copy, and may be expensive. We recommend passing a pre-built list of records to the DataFrame constructor instead of building a DataFrame by iteratively appending records to it.

## Join
[`merge()`](https://pandas.pydata.org/docs/reference/api/pandas.merge.html#pandas.merge) enables SQL style join types along specific columns. See the [Database style joining section](https://pandas.pydata.org/docs/user_guide/merging.html#merging-join).

In [313]:
left = pd.DataFrame(
    {
        "city": ["faisalabad", "lahore", "sialkot"],
        "temperature": [7, 5, 9]
    }
)
right = pd.DataFrame(
    {
        "city": ["faisalabad", "lahore", "islamabad"],
        "humidity": [30, 25, 20]
    }
)
print(left)
print(right)

# pd.merge(left, right, on="key")
pd.merge(left=left, right=right, how="cross")
# how=joint name;
# how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

         city  temperature
0  faisalabad            7
1      lahore            5
2     sialkot            9
         city  humidity
0  faisalabad        30
1      lahore        25
2   islamabad        20

       city_x  temperature      city_y  humidity
0  faisalabad            7  faisalabad        30
1  faisalabad            7      lahore        25
2  faisalabad            7   islamabad        20
3      lahore            5  faisalabad        30
4      lahore            5      lahore        25
5      lahore            5   islamabad        20
6     sialkot            9  faisalabad        30
7     sialkot            9      lahore        25
8     sialkot            9   islamabad        20

## Cross Join
![](../../../images/cross_join.png)

In [315]:
left = pd.DataFrame(
    {
        "city": ["faisalabad", "lahore", "sialkot"],
        "temperature": [7, 5, 9]
    }
)
right = pd.DataFrame(
    {
        "city": ["faisalabad", "lahore", "islamabad"],
        "humidity": [30, 25, 20]
    }
)
print(left)
print(right)

# pd.merge(left, right, on="key")
pd.merge(left=left, right=right, on="city", how="outer").sort_values(by="city", ascending=True)
# how=joint name;
# how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

         city  temperature
0  faisalabad            7
1      lahore            5
2     sialkot            9
         city  humidity
0  faisalabad        30
1      lahore        25
2   islamabad        20

         city  temperature  humidity
0  faisalabad          7.0      30.0
3   islamabad          NaN      20.0
1      lahore          5.0      25.0
2     sialkot          9.0       NaN

In [295]:
left = pd.DataFrame(
    {
        "key": ["foo", "bar"],
        "lval": [1, 2]
    }
)
right = pd.DataFrame(
    {
        "key": ["foo", "bar"],
        "rval": [4, 5]
    }
)
print(left)
print(right)
pd.merge(left, right, on="key")

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping
By “group by” we are referring to a process involving one or more of the following steps:

> - Splitting the data into groups based on some criteria
> - Applying a function to each group independently
> - Combining the results into a data structure

See the [Grouping section](https://pandas.pydata.org/docs/user_guide/groupby.html#groupby).

In [329]:
df2 = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.arange(1,9),
        "D": np.arange(9, 17),
        "E": np.arange(17,25)
    }
)
df2

     A      B  C   D   E
0  foo    one  1   9  17
1  bar    one  2  10  18
2  foo    two  3  11  19
3  bar  three  4  12  20
4  foo    two  5  13  21
5  bar    two  6  14  22
6  foo    one  7  15  23
7  foo  three  8  16  24

In [330]:
# Grouping and then applying the sum() function to the resulting groups:
df2.groupby("A")[["C", "D"]].sum()

      C   D
A
bar  12  36
foo  24  64

In [331]:
# Grouping by multiple columns forms a hierarchical index, and again we can apply the sum() function:
df2.groupby(["A", "B"]).sum()

           C   D   E
A   B
bar one    2  10  18
    three  4  12  20
    two    6  14  22
foo one    8  24  40
    three  8  16  24
    two    8  24  40

## Reshaping
See the sections on [Hierarchical Indexing](https://pandas.pydata.org/docs/user_guide/advanced.html#advanced-hierarchical) and [Reshaping](https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-stacking).

## Stack

In [334]:
tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
print(index)

df = pd.DataFrame(np.arange(1, 17).reshape(8,2), index=index, columns=["A", "B"])
df3 = df[:4]
df3

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

              A  B
first second
bar   one     1  2
      two     3  4
baz   one     5  6
      two     7  8

In [335]:
# The stack() method “compresses” a level in the DataFrame’s columns:
stacked = df3.stack()
stacked

first  second
bar    one     A    1
               B    2
       two     A    3
               B    4
baz    one     A    5
               B    6
       two     A    7
               B    8
dtype: int32

In [336]:
stacked.unstack()

              A  B
first second
bar   one     1  2
      two     3  4
baz   one     5  6
      two     7  8

## Pivot tables
See the section on [Pivot Tables](https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-pivot).

In [339]:
df2 = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.arange(1,13),
        "E": np.arange(1,13),
    }
)
df2

        A  B    C   D   E
0     one  A  foo   1   1
1     one  B  foo   2   2
2     two  C  foo   3   3
3   three  A  bar   4   4
4     one  B  bar   5   5
5     one  C  bar   6   6
6     two  A  foo   7   7
7   three  B  foo   8   8
8     one  C  foo   9   9
9     one  A  bar  10  10
10    two  B  bar  11  11
11  three  C  bar  12  12

In [340]:
# todo:: check what is pivot table?
pd.pivot_table(df2, values="D", index=["A", "B"], columns=["C"])

C         bar  foo
A     B
one   A  10.0  1.0
      B   5.0  2.0
      C   6.0  9.0
three A   4.0  NaN
      B   NaN  8.0
      C  12.0  NaN
two   A   NaN  7.0
      B  11.0  NaN
      C   NaN  3.0

## Time series
pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the [Time Series section](https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries).

In [342]:
rng = pd.date_range("1/1/2023", periods=100, freq="S")
rng

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:00:01',
               '2023-01-01 00:00:02', '2023-01-01 00:00:03',
               '2023-01-01 00:00:04', '2023-01-01 00:00:05',
               '2023-01-01 00:00:06', '2023-01-01 00:00:07',
               '2023-01-01 00:00:08', '2023-01-01 00:00:09',
               '2023-01-01 00:00:10', '2023-01-01 00:00:11',
               '2023-01-01 00:00:12', '2023-01-01 00:00:13',
               '2023-01-01 00:00:14', '2023-01-01 00:00:15',
               '2023-01-01 00:00:16', '2023-01-01 00:00:17',
               '2023-01-01 00:00:18', '2023-01-01 00:00:19',
               '2023-01-01 00:00:20', '2023-01-01 00:00:21',
               '2023-01-01 00:00:22', '2023-01-01 00:00:23',
               '2023-01-01 00:00:24', '2023-01-01 00:00:25',
               '2023-01-01 00:00:26', '2023-01-01 00:00:27',
               '2023-01-01 00:00:28', '2023-01-01 00:00:29',
               '2023-01-01 00:00:30', '2023-01-01 00:00:31',
               '2023-01-01 00:00:32', '2023-01-01 00:00:33',
               '2023-01-01 00:00:34', '2023-01-01 00:00:35',
               '2023-01-01 00:00:36', '2023-01-01 00:00:37',
               '2023-01-01 00:00:38', '2023-01-01 00:00:39',
               '2023-01-01 00:00:40', '2023-01-01 00:00:41',
               '2023-01-01 00:00:42', '2023-01-01 00:00:43',
               '2023-01-01 00:00:44', '2023-01-01 00:00:45',
               '2023-01-01 00:00:46', '2023-01-01 00:00:47',
               '2023-01-01 00:00:48', '2023-01-01 00:00:49',
               '2023-01-01 00:00:50', '2023-01-01 00:00:51',
               '2023-01-01 00:00:52', '2023-01-01 00:00:53',
               '2023-01-01 00:00:54', '2023-01-01 00:00:55',
               '2023-01-01 00:00:56', '2023-01-01 00:00:57',
               '2023-01-01 00:00:58', '2023-01-01 00:00:59',
               '2023-01-01 00:01:00', '2023-01-01 00:01:01',
               '2023-01-01 00:01:02', '2023-01-01 00:01:03',
               '2023-01-01 00:01:04', '2023-01-01 00:01:05',
               '2023-01-01 00:01:06', '2023-01-01 00:01:07',
               '2023-01-01 00:01:08', '2023-01-01 00:01:09',
               '2023-01-01 00:01:10', '2023-01-01 00:01:11',
               '2023-01-01 00:01:12', '2023-01-01 00:01:13',
               '2023-01-01 00:01:14', '2023-01-01 00:01:15',
               '2023-01-01 00:01:16', '2023-01-01 00:01:17',
               '2023-01-01 00:01:18', '2023-01-01 00:01:19',
               '2023-01-01 00:01:20', '2023-01-01 00:01:21',
               '2023-01-01 00:01:22', '2023-01-01 00:01:23',
               '2023-01-01 00:01:24', '2023-01-01 00:01:25',
               '2023-01-01 00:01:26', '2023-01-01 00:01:27',
               '2023-01-01 00:01:28', '2023-01-01 00:01:29',
               '2023-01-01 00:01:30', '2023-01-01 00:01:31',
               '2023-01-01 00:01:32', '2023-01-01 00:01:33',
               '2023-01-01 00:01:34', '2023-01-01 00:01:35',
               '2023-01-01 00:01:36', '2023-01-01 00:01:37',
               '2023-01-01 00:01:38', '2023-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [344]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2023-01-01 00:00:00     66
2023-01-01 00:00:01    342
2023-01-01 00:00:02    444
2023-01-01 00:00:03    211
2023-01-01 00:00:04    308
                      ...
2023-01-01 00:01:35    402
2023-01-01 00:01:36     82
2023-01-01 00:01:37    390
2023-01-01 00:01:38    230
2023-01-01 00:01:39    397
Freq: S, Length: 100, dtype: int32

In [355]:
ts.resample("30S").sum()

2023-01-01 00:00:00    8423
2023-01-01 00:00:30    6796
2023-01-01 00:01:00    7074
2023-01-01 00:01:30    3345
Freq: 30S, dtype: int32

In [357]:
# Series.tz_localize() localizes a time series to a time zone:
rng = pd.date_range("3/6/2023 00:00", periods=5, freq="D")
ts = pd.Series( np.random.randint(0, 100, len(rng)), index=rng )
ts

2023-03-06    91
2023-03-07    39
2023-03-08    75
2023-03-09    10
2023-03-10    63
Freq: D, dtype: int32

In [360]:
import pytz
pytz.all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [361]:
ts_utc = ts.tz_localize(pytz.timezone('Asia/Tashkent'))
ts_utc

2023-03-06 00:00:00+05:00    91
2023-03-07 00:00:00+05:00    39
2023-03-08 00:00:00+05:00    75
2023-03-09 00:00:00+05:00    10
2023-03-10 00:00:00+05:00    63
dtype: int32