In [1]:
import pandas as pd
import numpy as np

In [3]:
# object creation
s = pd.Series([2,3,np.nan, 4,5,6,7,8,9])
s

0    2.0
1    3.0
2    NaN
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
dtype: float64

In [5]:
dates = pd.date_range("20230101", periods=20)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(20,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01  0.969244 -0.275383  0.472920  0.913498
2023-01-02 -0.742519  1.198160  0.158542  0.022001
2023-01-03  1.701510 -0.003072  0.461254  0.468313
2023-01-04  0.280510 -0.737603 -0.064989 -1.344459
2023-01-05 -0.258890 -0.060425 -2.823442 -1.517649
2023-01-06 -1.737499  0.470024  1.606774 -0.211318
2023-01-07 -1.616904 -0.742504  0.024770 -0.033910
2023-01-08 -0.860648 -0.079177  1.357355  0.199488
2023-01-09  0.847035  1.660792  1.612657 -0.531548
2023-01-10 -1.300168  0.057380  0.318083 -1.106126
2023-01-11 -2.911141  0.039498 -1.012401 -0.917399
2023-01-12 -0.613194 -0.103776  0.011891 -0.378094
2023-01-13  1.280489  1.334041  0.058914  0.125265
2023-01-14  0.653830  1.048530 -0.184511 -0.262399
2023-01-15 -0.721583 -1.207847  0.577291 -1.243151
2023-01-16  0.634939 -0.298520 -0.991224 -0.871550
2023-01-17 -0.591964  0.436926 -0.311377  1.804791
2023-01-18  1.204392  0.421123 -0.279040 -1.854771
2023-01-19  1.097515  1.039644  0.765778 -0.199468
2023-01-20 -0.014306 -0.368703 -0.637829 -0.705589

In [9]:
dates.ndim

1

In [10]:
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20'],
              dtype='datetime64[ns]', freq='D')

In [11]:
dates.dtype

dtype('<M8[ns]')

In [14]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo"
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo